<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body><link rel="stylesheet" href="login.css">
    <div>
        <div id="container">
            <div id="design">
<div id="pill-1 rotate-45"></div>
<div id="pill-2 rotate-45"></div>
<div id="pill-3 rotat-45"></div>
            </div>
            <div id="login">
                <h3 id="userLogin">User Login</h3>
                <div class="text-input">
                    <img src="./person.png">
                    <input type="text" placeholder="UserName">
                </div>
                <div class="text-input">
                    <img src="./password.png">
                    <input type="text" placeholder="Passwod">
                </div>
<button id="myBtn">Submit</button>
            <div>
            <a href="" class="forgot">Forgot Username/Password</a>
        </div>
        <div class="create">
            <a href="">Create Your Account</a>
            <img src=""></img>
        </div>
    </div>
    </div>
</body>
</html>