<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Veera Profile</title>
</head>
<body>
    <link rel="stylesheet" href="portfolio.css">
   
    <nav><ul><li><a href="#">Home</a></li>
   <li><a href="#">About</a></li>
<li><a href="#"> Skill</a></li>
<li><a href="#"> Education</a></li>
<li><a href="#"> Work</a></li>
<li><a href="#"> Experience</a></li>
<li><a href="#"> Contact</a></li></ul></nav><hr>
<div id="Container"><div><h1>Hi  There , Myself<span style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;text-shadow: 12px grey;"> Alaudhin</span><br>
<div id="textContent">  I Am into <span style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">FrontEnd Development|</span></div>
</h1>
<h2></div>
<div id="mainImg"><img src="./allu.jpeg.jpg" id="veeraImg"></div>
<div><button>About me!</button></div>
<div id="socialMedia"><img src="./instagram.png">
<a href="#"><img src="./linkedin.png"></a>
<a href="#"><img src="./telegram.png"></a>
<img src="./facebook.png">  
<img src="./twitter.png">
<a href="mailto:alaudhinallu@gmail.com"><img src="./social.png"></a></div></div>
<footer style="color: white;">&copy;DevelopmentByAllu</footer>

<script src="portfolio.js"></script>
</body>
</html>